/* Reset and base styles */
body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #a75b5b;
  color: #222;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  main {
    padding: 0.5rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
